			@font-face{
				font-family: indieflower;
				src: url('font/IndieFlower.ttf')
			}
			*{
				margin: 0px;
				padding: 0px;
			}	
			div, header, nav, main, footer,{
				border: 1px solid #000;
				margin: 2px;
				border-radius: 20px;
				/*fondo pagina*/
			}
			:root{
				background-image: url(imagenes/playa1.gif);
				background-repeat: no-repeat;
				background-size: 100% 100%; 
			}
			/*contenido completo*/
			body{
				font-family: indieflower;
				margin:  auto;
				padding: 20px;
				width: 90%;
				background-color: rgb(255,255,255,0.4);
				border-radius: 20px;
				box-shadow: 2px 2px 2px 2px #BEBEBE;
				text-align: center;
			}
			/*cabecera*/
			header{
				background-image: url(imagenes/ciudades.png);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				margin: auto;
				border-radius: 20px;
				background-color: rgba(0,128,255,0.2);
				width:  90%;	
				display: inline-block;
			}
			/*navegador*/
			nav{
				background-image: url(imagenes/mapa.png);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				margin: auto; margin-top: 1%; margin-bottom: 1%;
				border-radius: 20px;
				width: 90%;
				text-align: center;
				background-color: rgba(126, 126, 104,0.6);
			}
			/*pie de pagina*/
			footer{
				border-radius: 20px;
				margin: auto;
				margin-top: 1%;
				margin-bottom: 1%;
				height: 90px;
				padding-top: 40px;
				padding-right: 10px;
				text-align: right;
				background-color: rgba(255,47,47,0.4); 
			}
			/*galeria de imagenes*/
			div{
				
				margin-top: 2%; margin-bottom: 2%;
				background-color: rgba(0, 0, 255,0.3);
				border-radius: 20px;
				display: inline-block;
				width: 80%;
				vertical-align: middle;
				text-align: center;
				text-overflow: ellipsis;
			}
			/*imagenes todas*/
			img{
				border-radius: 20px;
				margin: auto; margin-top: 5%;
				width: 500px;
				height:200px;
				display: inline-block;
				box-shadow: 1px 1px 1px 1px #FE1300;
			}
			/*figuras cuando tengan el ratón*/
			img:hover{
				transform: scale(1.5) rotate(5deg);
			}
			ul img{
				width: 2%; height: 2%;
				display: inline-block;
			}
			fieldset img{
				width: 15%; height: 15%;
				display: inline-block;
				vertical-align: middle;
			}
			/*todos los h1 tendran esta configuracion*/
			h1{
				padding-top: 5%;
				margin: auto;
				margin-right: 55%;
				color: #000000;
				text-shadow: 2px 2px 2px #00FF1E;
				display: inline-block;
				text-align: center;
			}	
			/*todos los h2 tendran esta configuracion*/
			h2{
				display: inline-block;
				text-align: center;
				text-shadow: 2px 2px 2px #FE8E00;
			}
			h3{
				display: inline-block;
				text-align: center;
				text-shadow: 3px 3px 3px 3px #001FFE;
			}
			li{
				background-color: rgba(0, 0, 0,0.3);
				display: inline-block;
				border-radius: 20px;
				border: 1px solid #000;
				padding: 5px 5px 5px 5px;
				margin-bottom: 4%;
				box-shadow: 1px 1px 1px 1px #0522FB;
			}
			table{
				background-color: rgba(255, 255, 255,0.3);
				margin-bottom: 5%; margin-left: 5%;
				border-radius: 20px;
				border: 1px solid #000;
				width: 90%; height: 100%;
				
			}
			td,th{
				box-shadow: 1px 1px 1px 1px #E1FC02;
				border-radius: 20px;
				border: 1px solid #000;
			}
			td img{
				background-position: left;
				width: 15%; height: 50px;
				box-shadow: 1px 1px 1px 1px #FFFFFF;
				border-radius: 20px;
				border: 1px solid #000;
			}
			figure{
				margin-bottom: 2%; margin-top: 2%;
				background-color: rgba(215, 232, 0,0.2);
				border-radius: 20px;
				display: inline-block;
				width: 75%;
				vertical-align: top;
				text-overflow: ellipsis;
			}
			section{
				margin-top: 1%; margin-bottom: 1%;
				background-color: rgba(0, 193, 255,0.3);
				border-radius: 20px;
				display: inline-block;
				width: 60%;
				vertical-align: middle;
			}
			legend{
				border-radius: 20px;
				background-color: #3cb371; 
			}
			main{
				border-radius: 20px;
				background-color: rgba(255,47,47,0.2)
				text-align: center;
				padding: 10px;
			}
			fieldset{
				background-color: rgba(0,0,0,0.2);
				display: inline-block;
				vertical-align: middle;
				margin-left: 80%; margin-bottom: 10%;
				border-radius: 20px;
				border: solid 1px #000;
			}
			label{
				margin-top: 1%;
				border-radius: 20px;
				width: 35%;
				background-color: #ffa500;
				display: inline-block;
			}
			span{
				border-radius: 20px;
				width: 40%;
				background-color: #00C0FE;
			}
			input{
				border-radius: 20px;
				display: inline-block;
			}
			p{
				color: #000000;
				text-shadow: 2px 2px 2px #F6FE00;
			}
			/*label tras el checkbox checked*/
			input[type="checkbox"]:checked+span{
				color: #FFFFFF; background-color: #059E03;
			}
			/*el span tras el input con el foco*/
			input:focus+span{
				display: initial;
			}
			/*el input con el foco*/
			input:focus{
				background-color: #A7EBF5;
			}
			.itsolution{
				border-radius: 20px;
				margin: auto;
				width: 130px;
				height:60px;
			}
			/*imagen flecha del footer*/
			.flecha{
				border-radius: 20px;
				margin: auto;
				width: 60px;
				height:60px;
				display: inline-block;
			}
			/*selecciona todos los elementos de clase peque*/

			.peque{
				font-size: 1.0vw;
			}
			