/*h1 el unico en su tipo en su contenedor*/
h1:only-of-type{
	font-style: italic;
}
/*primer parrafo de cada articulo*/
p:first-of-type{
	text-decoration:underline;
}
/*ultimo parrafo de cada articulo*/
p:last-of-type{
	text-decoration:line-through;
}
/*segundo parrafo de cada articulo*/
p:nth-of-type(2){
	text-transform: uppercase;
}
/*penultimo parrafo de cada articulo*/
p:nth-last-of-type(2){
	color: #0077FE;
}
figure{
	width: 50px;
}
figure img{
	width: 100; height: 150px;
}
article{
	margin: 10px; padding: 10px;
	border:solid 1px #707273;
	overflow: hidden;
}
/*ariculos impares*/
article:nth-of-type(odd){
	background-color: #43AADE;
}
/*figuras de los ariculos impares*/
article:nth-of-type(odd) figure{
	float: right;
}
/*figuras de los articulos pares*/
article:nth-of-type(even) figure{
	float: left;
}
/*primer elemento hijo de cada padre*/
:first-child{
	text-decoration: underline;
}
/*h2 que seanel unico hijo*/
h2:only-child{
	color: #FD1704;
}
/*parrafos que sean segundo hijo*/
p:nth-child(2){
	text-transform: uppercase;
}
/*parrafos que sean penultimo hijo*/
p:nth-last-child(2){
	color: #39FD04;
}
/*parrafo que sea ultimo hijo*/
p:last-child{
	color: #F504FD;
}
/*selecciona la primera letra del parrafo*/
p::first-letter{
	font-size: 2em;
}
/*antes de la etiqueta*/
label::before{
	content: 'indique ';
}
/*despues de la etiqueta*/
label::after{
	content: url('warning.png ');
}
form img{
	width: 50px; height: 50px;
}