		html{
			background-color: rgb(216, 217, 217);
			
		}
		header,footer,div,main{
			border: solid 1px;
			border-radius: 5px;
		}
		/*todo el contenido*/
		body{
			text-align: center;
			display: grid;
			grid-gap: 10px;
			grid-template-columns: 30% 30% auto;
			grid-template-areas: 
			'h h h'
			'n n n'
			'm m m'
			'foto g g'
			'o o e'
			'f f f' ;
			width: 90%;
			max-width: 1300px;
			margin: auto;
			padding: 20px;
		}
		/*cabecera + contenido*/
		header{
			text-align: center;
			grid-area: h;
			background-image: url(imagenes/programacion2.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		header img{
			width: 15%;
			vertical-align: top;
			border-radius: 200px;
			padding: 20px 20px;
		}
		header h1{
			display: inline-block;
        	margin-right: 650px;
        	color: #FFA900;
        	text-shadow: 4px 4px 4px #000;
        }
		/*menu navegacion*/
		nav{
			position: sticky;
			top: 0;
			z-index: 1;
			text-align: center;
			grid-area: n;
		}
		/*lista navegador*/
		ul{
			text-align: center;
			width: 80%;
		}
		li{
			background-color: rgba(112, 251, 232,0.3);
			width: 15%;
			display: inline-block;
			border: solid 1px;
			border-radius: 10px;
		}	
		/*contenido de texto*/
		main{
			position: relative;
			display: inline-block;
			grid-area: m;
		}
		/*contenido div*/
		div{
			text-align: left;
			margin: auto;
		}
		div h2{
			text-align: center;
			margin: 5px;
			color: #000000;
			text-shadow: 2px 2px 2px #FFCA50;
		}
		div h3{
			text-align: center;
			margin: 5px;
			color: #000000;
			text-shadow: 2px 2px 2px #00E4FF;
		}
		div h4{
			text-align: center;
			margin: 5px;
			color: #000000;
			text-shadow: 2px 2px 2px #00FF04;
		}
		div p{
			text-align: center;
		}
		div img{
			border:solid 1px;
			border-radius: 25px;
			vertical-align: middle;
			width: 19%; height: 280px;
			margin: 35px 30px;
		}
		div span{
			color: #FF2D00;
			text-shadow: 2px 2px 2px #FBFF00;
		}
		/*pie de pagina*/
		footer{
			text-align: left;
			grid-area: f;
		}
        footer h3{
       		margin-left: 10px;
        }
        footer img{
        	display: inline-block;
        	width: 7%; height: 5%;
        }
        footer p{
        	margin-left: 10px;
        }
        /*todas las imagenes haran este salto*/
        img:hover{
        	transform: scale(1.2); 
        }
        /*Login escondido*/
         #login{
            position: fixed;
            width: 250px;
            top: 10px; right: -240px;
            padding: 10px;
            background-color: rgba(255,255,255,0.60);
            border-radius: 10px;
            text-align: center;
            box-shadow: 2px 2px 4px rgba(60,60,60,0.6);
            transition: 1s;
        }
        #login:hover{
            right: 20px;
        }
        input{
        	background-color: rgba(255,255,255,0.5);
        }
        /*label tras el checkbox checked*/
		input[type="checkbox"]:checked+span{
			color: #FFFFFF; background-color: #059E03;
		}
        /*filtro galeria img*/
		.galeria{
			filter: grayscale(100%);
		}
		.galeria:hover{
			filter: grayscale(0%);
			transition: filter 3s;
			cursor: zoom-in;
		}
        