header{
	display: inline-block;
	margin: auto;
	width: 100%;
	background-color: #365899;
}
body {
	display: inline-block;
	text-align: center;
	margin:auto;
	width: 100%;
    background-color:  #C3E3F4;
    font-size: 15px;
}
main{
	display: inline-block;
	width: 90%;
}
header div{ 
 	margin-left: 15%;
	width: 35%;
	display: inline-block;
	margin-bottom: 2%;
}
main div{ 
	vertical-align: top;
	width: 48%;
	display: inline-block;
}	
h1{
	display: inline-block;
	color: #FFFFFF;
}
header label{
	color: #fff;
	display: inline-block;
	position: right;
}
main input[type="text"]{
	margin-bottom: 2%;
	display: inline-block;
	width: 50%; height: 25px;
}
/*el input con el foco*/
input:focus{
	background-color: #F5FAC4;
}
h2{
	display: inline-block;
}
header img{
	display: inline-block;
	vertical-align: middle;
}
p{
	text-align: left;
}
