*{
	margin: 0px;
	padding: 0px;
}
p{
	margin-bottom: 10px;
}
html{
	background-color: #A5A9A9;
}
header, nav, div, main, footer{
	border: solid 1px black;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
}
body{
	font-family: arial;
	margin:  auto;
	padding: 20px;
	width: 90%;
	background-color: #6F82F9;
	border-radius: 20px;
	box-shadow: 2px 2px 2px #BEBEBE;
	text-align: center;
}
header{
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	border: solid 1px #000;
	background-color: #6F82F9;
	width:  90%;	
	display: inline-block;
}
main{
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	border: solid 1px #000;
	background-color: #6F82F9;
	width:  90%;	
	display: inline-block;
}
footer{
		margin: auto;
		margin-top: 1%;
		margin-bottom: 1%;
		border: solid 1px #000;
		background-color: #6F82F9;
		width:  90%;	
		display: inline-block;
		text-align: right;
		}
/*selecciona todos los h1*/
h1{
	margin-right: 55%;
	color: #01FBAA;
	text-shadow: 2px 2px 2px #5D0475;
}
/*selecciona todos los h2*/
h2{
	margin-right: 60%;
	color: #CDE706; 
	text-shadow: 2px 2px 2px #062DE7;
}
p{
	font-style: italic;
	color: #000000;
	text-shadow: 2px 2px 2px #03F8FA;
}
/*selecciona todos los elementos de clase peque*/
.peque{
	font-size: 0.6em;
}
/*selecciona todos los elementos de clase grande*/
.grande{
	font-style: italic;
}
/*enlaces a lugares seguros*/
a[target="_blank"]{
	margin-left:  60%;
	display: inline-block;
	color: #FE0B00;
	font-style: italic;
	 left;
}
/*enlaces no visitados*/
a:link{
	color: #F7FE00;
}
/*enlaces visitados*/
a:visited{
	color: #FE0B00;
}
/*el input con el foco*/
input:focus{
	background-color: #A7EBF5;
}
/*el span tras el input*/
input+span{
	font-size: 0.8em;
	display: none;
}
/*el span tras el input con el foco*/
input:focus+span{
	display: initial;
}
/*label tras el checkbox checked*/
input[type="checkbox"]:checked+label{
	color: #FFFFFF; background-color: #059E03;
}
/*label tras el input disabled*/
input:disabled+label{
	color: #FFFFFF; background-color: #FE0202;
}
/*figuras*/
figure{
	display: inline-block;
	height: 100px; width: 100px;
	margin: 5px;
	transition: 0.25s;
}
/*imágenes*/
img{
	border-radius: 20px;
	border: solid 1px #000;
	display: inline-block;
	height: 100%;
	width: 100%;
}
/*figuras cuando tengan el ratón*/
figure:hover{
	transform: scale(1.5) rotate(5deg);
}
fieldset{
	display: inline-block;
	margin-left: 70%;
	border-radius: 20px;
	border: solid 1px #000;
}