        body{
            border: solid 1px #000;
            margin: auto;
            width: 90%;
        }
        main{
    		border: dashed 1px #f00;
    		display: inline-flex;
    		flex-wrap: wrap;
    	}
        div{
            min-width: 150px;
            flex: 1;
        
        }
        img{
            border: solid 1px #000;
            width: 97%;
        }
